version: '3.8'
services:
  postgres:
    image: pgvector/pgvector:pg16
    container_name: rag-vector-db
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=rag_db
    volumes:
      - pg_data:/var/lib/postgresql/data
  redis:
    image: redis:alpine
    container_name: rag-queue
    ports:
      - "6379:6379"
volumes:
  pg_data:
